<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>서울시 권역별 실시간 대기환경 현황</h1>
      <p>
        대기 환경지수, 미세먼지, 오존, 이산화질소, 일산화탄소, 아황산가스 등의
        권역별 실시간 대기환경정보를 제공합니다.
      </p>
    </div>

    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>측정일시</th>
            <th>권역명</th>
            <th>측정소명</th>
            <th>미세먼지(㎍/㎥)</th>
            <th>초미세먼지농도(㎍/㎥)</th>
            <th>오존(ppm)</th>
            <th>이산화질소농도(ppm)</th>
            <th>일산화탄소농도(ppm)</th>
            <th>아황산가스농도(ppm)</th>
            <th>통합대기환경등급</th>
            <th>통합대기환경지수</th>
            <th>지수결정물질</th>
          </tr>
        </thead>
        <tbody>
          {{#airs}}
          <tr>
            <td>{{ msrdt }}</td>
            <td>{{ msrrgn_nm }}</td>
            <td>{{ msrste_nm }}</td>
            <td>{{ pm10 }}</td>
            <td>{{ pm25 }}</td>
            <td>{{ o3 }}</td>
            <td>{{ no2 }}</td>
            <td>{{ co }}</td>
            <td>{{ so2 }}</td>
            <td>{{ idex_nm }}</td>
            <td>{{ idex_mvl }}</td>
            <td>{{ arplt_main }}</td>
          </tr>
          {{/airs}}
        </tbody>
      </table>
    </div>
  </body>
</html>
